table, th, td {
  border: 1px solid black;
}
td {

    text-align: center;
    vertical-align: middle;
}

th {
    
    font-size:22px;
}

body {
    
    font-family: sans-serif;
    text-align: center;
    
}

.tdClass{
    
    position:relative;
    height: 100px;
    width: 100px;
    top:20px;
}

.cardHeaderTranslitString{
    
    font-size:calc(3px + 75%);
    word-break: break-all;
    width:100px;
}